<section class="sing-in-reg-section">
    <div class="container">
        <div class="enter-to-access-box">
            <div class="enter-to-access-title">Увійдіть для доступу:</div>
        <ul class="enter-to-access-list">
            <li class="enter-to-access-item"><span class="enter-to-access-item-number">1</span><span>Доступ к вакансиям</span></li>
            <li class="enter-to-access-item"><span class="enter-to-access-item-number">2</span><span>Fabellas facilisis mei.</span></li>
            <li class="enter-to-access-item"><span class="enter-to-access-item-number">3</span><span>Lorem ipsum dolor sit.</span></li>
        </ul>
        </div>
        <div class="sign-in-reg-box">
        <div class="form-title sing-in-form-title form-title-active">Увійти</div>
        <div class="form-title reg-form-title">Зареєструватися</div>
        <form class="sing-in-form sing-in-reg-form" action="#">
            <div class="form-item">
            <label for="phone" class = "sing-in-tel-label"></label>
            <input type="tel" placeholder="Ваш номер мобільного телефону" name="phone" required></div>
            <div class="form-item">
            <label for="psw" class = "sing-in-pas-label"></label>
                <input type="password" placeholder="Ваш пароль" name="psw" required></div>
                <button type="submit" class="red-button">Увійти</button>
            <a href="#" class="form-text sing-in-forgot-pas">Забули пароль?</a>
            <a href="#" class = sing-in-first-time>Якщо ви вперше на сайті, заповніть, будь ласка, реєстраційну форму</a>
    </form>
            <form class="reg-form sing-in-reg-form" action="#">
                <div class="form-item">
                    <label for="firstname" class = "sing-in-name-label"></label>
                    <input type="text" placeholder="Ім'я*" name="firstname" required></div>
                <div class="form-item">
                    <label for="surname" class = "sing-in-surname-label"></label>
                    <input type="text" placeholder="Прізвище*" name="surname" required></div>
                <div class="form-item">
                    <label for="phone" class = "sing-in-tel-label"></label>
                    <input type="tel" placeholder="Ваш номер мобільного телефону*" name="phone" required></div>
                <div class="form-item">
                    <label for="email" class = "sing-in-email-label"></label>
                    <input type="email" placeholder="Адреса e-mail*" name="email" required></div>
                <div class="form-item">
                    <label for="pas" class = "sing-in-pas-label"></label>
                    <input type="password" placeholder="Ваш пароль*" name="pas" required></div>
                <div class="form-item">
                    <label for="pasrep" class = "sing-in-pas-label"></label>
                    <input type="password" placeholder="Підтвердження пароля*" name="pasrep" required></div>
                <button type="submit" class="red-button">Зареєструватися</button>
                <p class="form-text form-requred-terms">* Поля, обов'язкові для заповнення.</p>
                <p class="form-text">Пароль повинен бути не менше 6 символів
                    довжиною.</p>
            </form>
    </div>
    </div>
</section>
