.sing-in-reg-section {
  background-image: url("img/mainbg.png");
  padding: 8px 0;
  @include media($width-xs) {
    padding: 12px 0;
  }
  @include media($width-mid) {
    padding: 43px 0;
  }
  @include media($width-max) {
    padding: 0;
  }
  .container{
    @include media($width-max){
      width: 1090px;
      height: 695px;
      padding: 55px 25px 0 25px;
      background-image: url("img/regbanner.jpg");
      background-size: 100% auto;
      background-repeat: no-repeat;
      box-sizing: border-box;
      overflow: auto;
    }
  }
  .enter-to-access-box{
    display: none;
    float: left;
    padding: 30px 35px 39px 35px;
    background-color: $mainwhite;
    border-radius: 9px;
    @include media($width-max){
      display: inline-block;
    }
  }
  .enter-to-access-title{
    font-size: 20.83px;
    font-family: $museo500;
    color: #000000;
    margin-bottom: 30px;
  }
  .enter-to-access-list{
    color: #5d5d5d;
    font-family: $museo300;
  }
  .enter-to-access-item{
    margin-bottom: 16px;
    span:first-child{
      display: inline-block;
      vertical-align: middle;
      font-size: 33.33px;
      margin-right: 10px;
      color: #a8a8a8;
    }
    span:last-child{
      display: inline-block;
      vertical-align: middle;
      font-size: 16.67px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  .sign-in-reg-box {
    background-color: $mainwhite;
    font-size: 0;
    @include media($width-max){
      float: right;
      width: 335px;
      border-radius: 9px;
      text-align: center;
      padding: 0 38px;
      box-sizing: border-box;
    }
  }
  .form-title {
    text-align: center;
    font-family: $echo;
    font-size: 12.5px;
    text-transform: uppercase;
    width: 50%;
    display: inline-block;
    color: #a09f9f;
    padding: 21px 0 9px 0;
    @include media($width-xs) {
      font-size: 17.95px;
      padding: 28px 0 13px 0;
    }
    @include media($width-mid) {
      font-size: 38.28px;
      padding: 60px 0 27px 0;
    }
    @include media($width-max) {
      font-size: 11.49px;
      font-family: $echobold;
      padding: 20px 0 10px 0;
    }
  }
  .form-title-active {
    color: #010101;
    border-bottom: $mainred solid 2px;
    @include media($width-xs) {
      border-width: 3px;
    }
    @include media($width-mid) {
      border-width: 7px;
    }
    @include media($width-max) {
      border-width: 2px;
    }
  }
  .sing-in-reg-form {
    border-top: 2px solid #c3c3c3;
    font-size: 0;
    padding: 0 1% 21px 1%;
    @include media($width-xs) {
      border-width: 3px;
      padding: 0 2% 30px 2%;
    }
    @include media($width-mid) {
      border-width: 7px;
      padding: 0 2% 84px 2%;
    }
    @include media($width-max) {
      border-width: 2px;
      padding: 0 0 24px 0;
    }
  }
  .form-item {
    padding-top: 17px;
    @include media($width-xs) {
      padding-top: 28px;
    }
    @include media($width-mid) {
      padding-top: 57px;
    }
    @include media($width-max) {
      padding-top: 17px;
    }
    label {
      width: 7%;
      height: 30px;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      margin-right: 6%;
      @include media($width-xs) {
        height: 40px;
      }
      @include media($width-mid) {
        height: 87px;
      }
      @include media($width-max) {
        height: 26px;
      }
    }
    input {
      border: none;
      outline: none;
      width: 87%;
      vertical-align: bottom;
      height: 30px;
      box-sizing: border-box;
      border-bottom: #c6c7c9 solid 1px;
      font-size: 12.5px;
      @include media($width-xs) {
        height: 40px;
        font-size: 17.95px;
      }
      @include media($width-mid) {
        height: 78px;
        border-width: 2px;
        font-size: 38.28px;
      }
      @include media($width-max) {
        height: 26px;
        font-size: 11.49px;
      }
      &::-webkit-input-placeholder {
        color: #c6c7c9;
        font-size: 12.5px;
        font-family: $museo500;
        @include media($width-xs) {
          font-size: 17.95px;
        }
        @include media($width-mid) {
          font-size: 38.28px;
        }
        @include media($width-max) {
          font-size: 11.49px;
        }
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #c6c7c9;
        font-size: 12.5px;
        font-family: $museo500;
        @include media($width-xs) {
          font-size: 17.95px;
        }
        @include media($width-mid) {
          font-size: 38.28px;
        }
        @include media($width-max) {
          font-size: 11.49px;
        }
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #c6c7c9;
        font-size: 12.5px;
        font-family: $museo500;
        @include media($width-xs) {
          font-size: 17.95px;
        }
        @include media($width-mid) {
          font-size: 38.28px;
        }
        @include media($width-max) {
          font-size: 11.49px;
        }
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #c6c7c9;
        font-size: 12.5px;
        font-family: $museo500;
        @include media($width-xs) {
          font-size: 17.95px;
        }
        @include media($width-mid) {
          font-size: 38.28px;
        }
        @include media($width-max) {
          font-size: 11.49px;
        }
      }
    }
  }
  .sing-in-tel-label {
    background-image: url("img/regtelicon.svg");
    background-size: 16px 19px;
    @include media($width-xs) {
      background-size: 23px 27px;
    }
    @include media($width-mid) {
      background-size: 49px 58px;
    }
    @include media($width-max) {
      background-size: 15px 17px;
    }
  }
  .sing-in-pas-label {
    background-image: url("img/regpasicon.svg");
    background-size: 15px 18px;
    @include media($width-xs) {
      background-size: 20px 27px;
    }
    @include media($width-mid) {
      background-size: 43px 58px;
    }
    @include media($width-max) {
      background-size: 13px 17px;
    }
  }
  .sing-in-email-label {
    background-image: url("img/regmailicon.svg");
    background-size: 16px 12px;
    @include media($width-xs) {
      background-size: 23px 17px;
    }
    @include media($width-mid) {
      background-size: 49px 36px;
    }
    @include media($width-max) {
      background-size: 15px 11px;
    }
  }
  .sing-in-name-label {
    background-image: url("img/regnameicon.svg");
    background-size: 10px 14px;
    @include media($width-xs) {
      background-size: 14px 20px;
    }
    @include media($width-mid) {
      background-size: 32px 43px;
    }
    @include media($width-max) {
      background-size: 9px 13px;
    }
  }
  .sing-in-surname-label {
    background-image: url("img/regsurnameicon.svg");
    background-size: 16px 18px;
    @include media($width-xs) {
      background-size: 23px 26px;
    }
    @include media($width-mid) {
      background-size: 49px 55px;
    }
    @include media($width-max) {
      background-size: 15px 13px;
    }
  }
  .red-button {
    margin-top: 23px;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    @include media($width-xs) {
      margin-top: 33px;
      height: 52px;
      margin-bottom: 27px;
    }
    @include media($width-mid) {
      margin-top: 70px;
      height: 112px;
      margin-bottom: 58px;
    }
    @include media($width-max) {
      margin-top: 27px;
      font-size: 11.49px;
      height: 27px;
      width: 188px;
      margin-bottom: 11px;
    }
  }
  .form-text {
    font-family: $museo500;
    font-size: 12.5px;
    color: #656565;
    @include media($width-xs) {
      font-size: 17.95px;
    }
    @include media($width-mid) {
      font-size: 38.28px;
    }
    @include media($width-max) {
      font-size: 11.79px;
    }
  }
  .sing-in-forgot-pas {
    text-transform: uppercase;
    text-align: right;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    @include media($width-xs) {
      margin-top: 0;
      padding-right: 27px;
      font-size: 14px;
    }
    @include media($width-mid) {
      font-size: 30px;
      padding-right: 63px;
    }
    @include media($width-max) {
      font-size: 10px;
      padding-right: 35px;
      margin-bottom: 11px;
    }
  }
  .sing-in-first-time{
    font-family: $museo100;
    display: none;
    font-size: 8.96px;
    color: #dc0a0c;
    text-align: center;
    position: relative;
    left: -13px;
    width: 285px;
    @include media($width-max){
      display: block;
    }
  }
  .form-requred-terms {
    margin: 23px 0 23px 0;
    @include media($width-xs) {
      margin: 23px 0 33px 0;
    }
    @include media($width-mid) {
      margin: 23px 0 70px 0;
    }
    @include media($width-max) {
      margin: 23px 0;
      text-align: left;
    }
  }
  .reg-form {
    display: none;
    .form-text:last-child {
      line-height: 17px;
      @include media($width-xs) {
        line-height: 26px;
      }
      @include media($width-mid) {
        line-height: 55px;
      }
      @include media($width-max) {
        text-align: left;
        line-height: 15px;
      }
    }
  }
}