<section class="forwhat main-advanteges">
    <div class="container">
    <p class="forwhat-title">НАШІ ПЕРЕВАГИ</p>
        <ul class="forwhat-text-box">
    <li class="forwhat-text"><div class="forwhat-disk"></div><span>Безкоштовне працевлаштування
(оплачує роботодавець)</span></li>
    <li class="forwhat-text"><div class="forwhat-disk"></div><span>Дотримання всіх норм українського та
польського законодавства</span></li>
    <li class="forwhat-text"><div class="forwhat-disk"></div><span>Вакансії тільки перевірених
роботодавців</span></li>
    <li class="forwhat-text"><div class="forwhat-disk"></div><span>Всі умови оговорюються заздалегідь</span></li>
    <li class="forwhat-text"><div class="forwhat-disk"></div><span>Допомога при оформленні документів</span></li>
    <li class="forwhat-text"><div class="forwhat-disk"></div><span>Супроводження на території України
на Польщі</span></li>
        </ul></div>
</section>