<footer class="footer">
    <div class="container">
        <div class="contacts">
        <div class="social-icons">
            <a href="#" class="facebook-icon"></a>
            <a href="#" class="instagram-icon"></a>
        </div>
        <p class="footer-text">info@polskapraca.in.ua</p>
        <p class="footer-text">+38 (044) 492-02-20</p>
        </div>
        <div class="navmenu-dropdown-wrap">
        <ul class="navmenu-dropdown">
            <li class="navmenu-item"><a href = "#">Головна <span class="menu-item-line"></span></a></li>
            <li class="navmenu-item"><a href = "#">Про сервіс <span class="menu-item-line"></span></a></li>
            <li
                    class="navmenu-item"><a href = "#">Курси польської <span class="menu-item-line"></span></a></li>
            <li
                    class="navmenu-item"><a href = "#">Статті <span class="menu-item-line"></span></a></li>
            <li class="navmenu-item"><a href = "#">Вакансії <span class="menu-item-line"></span></a></li>
            <li
                    class="navmenu-item"><a href = "#">Тарифи <span class="menu-item-line"></span></a></li>
        </ul>
            </div>
    <div class="licenses">
        <a href="#" class="footer-text">Лiцензiя затверджена наказом № 1740 вiд 06.11.2017</a>
        <a href="#" class="footer-text">© 2018 Polska praca ДЕВЛАБ УКРАЇНА, ТОВ</a>
    </div>
    </div>
</footer>