<section class="courses">
    <div class="container">
    <div class="slideshow-container slideshow-container2">
        <div class="mySlides fade">
            <p class="courses-item-title">полегшений</p>
            <p class="courses-item-text">експрес-курс для побутового спілкування</p>
            <div class="courses-terms-box">
                <p class="courses-terms-item">3 тижні</p>
                <p class="courses-terms-item">10 занять</p>
                <p class="courses-terms-item">по 3 години</p>
                <p class="courses-terms-item">2 500 грн</p>
            </div>
            <button type="submit" class="red-button">замовити</button>
        </div>
        <div class="mySlides fade">
            <p class="courses-item-title">базовий</p>
            <p class="courses-item-text">експрес-курс для спілкування на роботі</p>
            <div class="courses-terms-box">
                <p class="courses-terms-item">3 тижні</p>
                <p class="courses-terms-item">21 заняття</p>
                <p class="courses-terms-item">по 3 години</p>
                <p class="courses-terms-item">4 200 грн</p>
            </div>
            <button type="submit" class="red-button">замовити</button>

        </div>
        <div class="mySlides fade">
            <p class="courses-item-title">семестровий</p>
            <p class="courses-item-text">курс для роботи з людьми або подальшого навчання</p>
            <div class="courses-terms-box">
                <p class="courses-terms-item">5 місяців</p>
                <p class="courses-terms-item">60 занять</p>
                <p class="courses-terms-item">по 3 години</p>
                <p class="courses-terms-item">11 100 грн</p>
            </div>
            <button type="submit" class="red-button">замовити</button>
        </div>
        <a class="prev" onclick="plusSlides(event, -1)">&#10094;</a>
        <a class="next" onclick="plusSlides(event, 1)">&#10095;</a>
    </div>
    </div>
</section>