<section class="rates-ppinfo forwhat">
    <div class="container">
    <p class="forwhat-title">POLSKA PRACA</p>
    <p class="forwhat-text">Polska praca - це інформаційно-консультаційний сервіс, який здійснює підтримку працівників на території України та
        інформаційний супровід на території Польщі, ми відстежуємо процес працевлаштування до моменту закінчення
        випробувального терміну.
        </p>
    <p class="forwhat-text"> Ми взаємодіємо тільки з ліцензованими польськими кадровими агентствами і з перевіреними надійними роботодавцями,
        які здійснюють Ваш супровід на території Польщі. Ви контролюєте всі стадії Вашого працевлаштування: від підбору вакансії
        допідписання трудового договору з роботодавцем.</p>
    <p class="forwhat-text"> Після затвердження Вас на вакансію безпосередньо роботодавець висилає Вам запрошення на роботу, на підставі якого
        Ви або самостійно можете зробити собі робочу візу, або скористатися нашими послугами купивши ПАКЕТ "Стандарт"
        івиїхати на роботу в Польщу.</p>
    <p class="forwhat-text"> Ми завжди на зв'язку і надаємо консультаційну підтримку 24/7.</p>
    </div>
</section>