<section class="forwhat main-attitude">
    <div class="container">
        <p class="forwhat-title">ПІДХІД ДО РОБОТИ</p>
        <ul class="forwhat-text-box">
            <li class="forwhat-text"><div class="forwhat-disk"></div><span>Використання сучасних інформаційних
технологій
</span></li>
            <li class="forwhat-text"><div class="forwhat-disk"></div><span>Всебічна оцінка кандидатів</span></li>
            <li class="forwhat-text"><div class="forwhat-disk"></div><span>Систематизована база вакансій
</span></li>
            <li class="forwhat-text"><div class="forwhat-disk"></div><span>Ефективна методика підбору вакансій
</span></li>
            <li class="forwhat-text"><div class="forwhat-disk"></div><span>Інформаційна підтримка до та після
працевлаштування на базі власного
контакт-центру</span></li>
            <li class="forwhat-text"><div class="forwhat-disk"></div><span>Мережа представників на території
Польщі</span></li>
        </ul></div>
</section>