<section class="banner rates-banner">
    <div class="container">
        <div class="banner-content">
            <p class="banner-title">ПОСЛУГИ ТА ЦІНИ</p>
            <p class="banner-text">
                Кадровий сервіс Polska praca - це
                індивідуальний підхід до кожного
                здобувача. Підбір вакансій з
                урахуванням всіх побажань
                кандидата і задоволення його
                запитів щодо оплати праці та
                умов роботи. </p>
        </div>
    </div>
</section>