<header class="header">
    <nav class="navmenu">
    <div class="navmenu-dropdown-wrap">
        <ul class="navmenu-dropdown">
            <li class="navmenu-item"><a href = "#">Головна <span class="menu-item-line"></span></a></li>
            <li class="navmenu-item"><a href = "#">Про сервіс <span class="menu-item-line"></span></a></li>
            <li
                    class="navmenu-item"><a href = "#">Курси польської <span class="menu-item-line"></span></a></li>
            <li
                    class="navmenu-item"><a href = "#">Статті <span class="menu-item-line"></span></a></li>
            <li class="navmenu-item"><a href = "#">Вакансії <span class="menu-item-line"></span></a></li>
            <li
                    class="navmenu-item"><a href = "#">Тарифи <span class="menu-item-line"></span></a></li>
        </ul>
    </div>
</nav>
    <a href="#" class="logo-box"><img src="img/logo.png" alt="logo" class="logo-img">
        <span class="logo-text">робота в польщі</span>
    </a>
    <div class="language-panel">
        <div class="language-item language-item-active">ua</div>
        <div class="language-item">ru</div>
    </div>
</header>