@font-face {
  font-family: $echo;
  src: url('fonts/echo.otf');
}

@font-face {
  font-family: $echomed;
  src: url('fonts/echomed.otf');
}
@font-face {
  font-family: $echolight;
  src: url('fonts/echolight.otf');
}

@font-face {
  font-family: $echobold;
  src: url('fonts/echobold.otf');
}
@font-face {
  font-family: $proxexbold;
  src: url('fonts/ProximaNovaExtrabld.ttf');
}
@font-face {
  font-family: $museo;
  src: url('fonts/MuseoSansCyrl.otf');
}
@font-face {
  font-family: $museo100;
  src: url('fonts/MuseoSansCyrl100.ttf');
}
@font-face {
  font-family: $museo300;
  src: url('fonts/MuseoSansCyrl300.ttf');
}
@font-face {
  font-family: $museo500;
  src: url('fonts/MuseoSansCyrl500.ttf');
}
@font-face {
  font-family: $museo700;
  src: url('fonts/MuseoSansCyrl700.ttf');
}