$width-max: '(min-width: 1280px)';
$width-mid: '(min-width: 940px)';
$width-sm: '(min-width: 768px)';
$width-xs:'(min-width: 460px)';
$width-xxs:'(min-width: 320px)';

$width-max-max: '(max-width: 1280px)';
$width-max-mid: '(max-width: 941px)';
$width-max-sm: '(max-width: 769px)';
$width-max-xs:'(max-width: 461px)';
$width-max-xxs:'(max-width: 321px)';

$echo: 'EchoesSans';
$echomed: 'EchoesSans-Medium';
$echolight: 'EchoesSans-Light';
$echobold: 'EchoesSans-Bold';
$proxexbold: 'Proxima Nova Extra Bold';
$museo: 'MuseoSansCyrl';
$museo100: 'MuseoSansCyrl-100';
$museo500: 'MuseoSansCyrl-500';
$museo300: 'MuseoSansCyrl-300';
$museo700: 'MuseoSansCyrl-700';

$mainwhite: #ffffff;
$mainblack: #363636;
$mainred: #dc0a0c;

//@font-size-base: 16px;