.main-banner{
  background-image: url("img/mainbanner.jpg");
  background-size: cover;
  padding: 13px 0 29px 0;
  @include media($width-xs){
    padding: 17px 0 31px 0;
  }
  @include media($width-mid){
    padding: 33px 0 43px 0;
  }
  @include media($width-max){
    padding: 134px 0 183px 0;
    border-width: 4px;
    box-sizing: border-box;
  }
  .banner-title {
    text-transform: uppercase;
    font-size: 24.75px;
    margin-bottom: 20px;
    @include media($width-xs) {
      font-size: 29.17px;
      margin-bottom: 24px;
    }
    @include media($width-mid) {
      font-size: 60.5px;
      margin-bottom: 45px;
    }
    @include media($width-max) {
      font-size: 50px;
      margin-bottom: 48px;
    }
  }
  .banner-text {
    width: 274px;
    font-size: 17.68px;
    line-height: 21px;
    margin-bottom: 22px;
    @include media($width-xs){
      width: 308px;
      font-size: 20.83px;
      line-height: 25px;
      margin-bottom: 24px;
    }
    @include media($width-mid){
      width: 623px;
      font-size: 41.67px;
      line-height: 50px;
      margin-bottom: 72px;
    }
    @include media($width-max) {
      font-size: 25px;
      width: 630px;
      line-height: 27px;
      margin-bottom: 63px;
    }
  }
  .red-button {
    font-size: 20.3px;
    width: 249px;
    height: 42px;
    @include media($width-xs){
      width: 290px;
      height: 50px;
      font-size: 23.92px;
    }
    @include media($width-mid){
      width: 613px;
      height: 106px;
      font-size: 49.99px;
    }
    @include media($width-max){
      width: 300px;
      height: 55px;
      font-size: 24.13px;
    }
  }
}